
<suite name="SuiteRegression2.1">
  <test thread-count="5" name="TestRegression2.1">
    <classes>
      <class name="Scripts.DragNdrop"/>
      <class name="Scripts.test_Upload"/>
      <class name="Scripts.CheckBox"/>
      <class name="Scripts.AddRemove"/>
       <class name="Scripts.Shoping"/>
      <class name="Scripts.DropDown"/>
    </classes>
  </test> <!-- TestRegression2.1 -->
</suite> <!-- SuiteRegression2.1 -->
